.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #333;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.home-button {
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}
